# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock
venv/*
# Tests
.pytest_cache/

# Type checking
.pytype/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other
*.DS_Store

# PyCharm
.idea

# pyenv, virtualenv artifacts.
.python-version
